.container{
    padding: 0.5em;
    justify-content: flex-start;
    gap: 0;
}


.wrapper{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 5rem;
}

.list_info{
}

.wordsContainer {
    width: 20rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
    align-items: flex-start;
    max-height: 15rem;
}

.scroll{
    padding: 2rem;
    overflow-y: auto;
    min-width: 10rem;
}

.wordsContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.word_meaning{
    display: flex;
    gap: 1rem;
    text-align: left;
}

.new_word_container{
    width: 30rem;
}

.definiton_example{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}