.wrapper {
   direction: ltr;
   padding: 1rem;
   background-color: #f3f3f3;
   min-height: calc(100vh - 5rem);
}

.main {
   flex-direction: column;
   gap: 2rem;
}

.main h1 {
   margin-top: 2rem;
}

.progress {
   flex-direction: column;
   gap: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid #ccc;
}
.progress h3 {
   color: var(--main-dark);
   font-weight: 800;
   font-size: 1.1rem;
}
.lists_words_section {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2.5rem;
   width: 100%;
}

.emptyList{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.myLists {
   display: flex;
   flex-direction: column;
   padding: 1rem 2rem;
   width: 50rem;
   background-color: rgb(252, 252, 252);
   border-radius: 0.3rem;
   box-shadow: 0px 0px 30px -15px #000000;
   gap: 1.5rem;
   max-height: 30em;
   overflow-y: scroll;
}
.myListsTitle h2 {
   /* background-color: #ffffff4c; */
   border-bottom: 1px solid #3f51b5;
   display: inline;
   /* padding: 0 .5rem; */
}

.listsContainer {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.listRowContainer {
   width: 100%;
   justify-content: space-between;
   gap: 20px;
   border: 2px solid #aaa;
   padding: 0.8rem;
}

.leftWrapper {
   display: flex;
   width: 33%;
   gap: 1rem;
}

.leftWrapper h4 {
   font-weight: 500;
   font-size: 1.2em;
   margin-bottom: 3px;
}
.leftWrapper h6 {
   font-size: .75em;
   margin-bottom: 1.5px;
   color: var(--default-dark);
}
.list_description {
   width: 10rem;
}
.rightWrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
   width: 67%;
}
.rightWrapper_top {
   display: flex;
   justify-content: space-around;
   gap: 3.5rem;
}

.rightWrapper_bottom {
   width: 100%;
}

.rightWrapper button {
   font-size: 0.75rem;
   font-weight: bold;
   
}

.lists_section{
   width: 100%;
}

@media screen and (max-width: 1100px) {
   .wrapper {
      direction: ltr;
      padding: 0;
   }

   .lists_words_section {
      flex-direction: column;
      align-items: center;
   }
   .myLists {
      width: 100%;
      border: none;
      box-shadow: none;
      border-bottom: 0.003px solid var(--default-grey);
      border-top: 0.003px solid var(--default-grey);
   }
}
@media screen and (max-width: 650px) {
   .wrapper{
      min-height: calc(100vh - 8rem);
   }
}
@media screen and (max-width: 500px) {

   .main h1 {
      font-size: 2.8rem;
   }

   .myLists {
      width: 100%;
      border: none;
      box-shadow: none;
      font-size: 2rem;
      border-bottom: 0.003px solid var(--default-grey);
      border-top: 0.003px solid var(--default-grey);
   }

   .listRowContainer {
      border: none;
   }

   .listRowContainer:not(:last-child) {
      border-bottom: 1.5px solid #555;
   }

   .progress {
      font-size: 12px;
   }
   .progress button {
      font-size: 1.4rem;
      margin: 1rem 0;
   }
   .rightWrapper button {
      font-size: 1.4rem;
   }

   .leftWrapper h4 {
      font-weight: bold;
      font-size: .8em;
   }
   .leftWrapper h6 {
      font-weight:normal;
      font-size: .64em;
   }
}
